*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 158, 216);

}
#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 67, 176);
   padding: 20px 0;
  
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 31, 146);
   
}

#page2 h1{
    font-size: 30vw;
    font-weight: 700;
    text-transform: uppercase;
}
