*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 158, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page{
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 216, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        font-weight: 800;
        font-size: 30px; 
    }
    h2{
        font-weight: 800;
        font-size: 30px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    }
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 67, 176);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 16, 201);
    display: flex;
    justify-content: center;
    align-items: center
}

#box1{
    width: 150px;
    height: 150px;
    background-color: rgb(220, 9, 182);
    }